threemultis.egg-info
__pycache__
threemultis/__pycache__
threemultis/results
vespa/*/*/*.h5
vespa/*/*/*.png
vespa/*/*/*.log
vespa/*/*/*.pkl
vespa/*/*/*.pkl
*.dat
vespa/*/*/lixo
vespa/.DS_store
vespa/*/.DS_store
vespa/*/*/.DS_store

notebooks/.ipynb_checkpoints/
notebooks/inspect.ipynb
notebooks/hst.ipynb
notebooks/scratch.ipynb
